@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --font-anton: "Anton", sans-serif;
  --color-red: #FA332A;
  --color-gray: #F4F4F4;
  --color-white: #FEFEFE;
  --color-black: #1C1A1F;
  --color-gray-letter: #404040;
  --card-gradient: linear-gradient(to bottom, rgba(250, 51, 42, 0) 40%, #FA332A 100%);
  --card-off-gradient: linear-gradient(to bottom, rgba(250, 51, 42, 0) 40%, #1C1A1F 100%);
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  --stroke-text: 1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: var(--font-anton) !important;
  overflow: hidden;
  background-color: var(--color-gray);
  color: var(--color-black);
}

main {
  display: flex;
  justify-content: space-around;
  padding: 1.8rem;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

/* color types class */
.type-normal {
  background-color: #a8a878 !important;
  color: var(--color-white);
}

.type-fire {
  background-color: #f08030 !important;
  color: var(--color-white);
}

.type-water {
  background-color: #6890f0 !important;
  color: var(--color-white);
}

.type-electric {
  background-color: #f8d030 !important;
  color: var(--color-white);
}

.type-grass {
  background-color: #78c850 !important;
  color: var(--color-white);
}

.type-ice {
  background-color: #98d8d8 !important;
  color: var(--color-white);
}

.type-fighting {
  background-color: #c03028 !important;
  color: var(--color-white);
}

.type-poison {
  background-color: #a040a0 !important;
  color: var(--color-white);
}

.type-ground {
  background-color: #e0c068 !important;
  color: var(--color-white);
}

.type-flying {
  background-color: #a890f0 !important;
  color: var(--color-white);
}

.type-psychic {
  background-color: #f85888 !important;
  color: var(--color-white);
}

.type-bug {
  background-color: #a8b820 !important;
  color: var(--color-white);
}

.type-rock {
  background-color: #b8a038 !important;
  color: var(--color-white);
}

.type-ghost {
  background-color: #705898 !important;
  color: var(--color-white);
}

.type-dragon {
  background-color: #7038f8 !important;
  color: var(--color-white);
}

.type-dark {
  background-color: #705848 !important;
  color: var(--color-white);
}

.type-steel {
  background-color: #b8b8d0 !important;
  color: var(--color-white);
}

.type-fairy {
  background-color: #ee99ac !important;
  color: var(--color-white);
}

.type-stellar {
  background-color: #6A5ACD  !important;
  color: var(--color-white);
}

.type-unknown {
  background-color: var(--color-black) !important;
  color: var(--color-white);
}

@media (max-width: 1024px) {
  body, html {
    overflow-y: auto !important;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-info,
  .pokemon-search {
    width: 80% !important;
    margin-bottom: 20px;
  }

  .pokemon-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .favorites, .types-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  .menu-icon .bar {
    width: 20px;
  }

  .pokemon-info h2 {
    font-size: 28px;
  }

  .container-view-pokemon {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .pokemon-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .pokemon-search {
    width: 100% !important;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }

  .container-view-pokemon {
    align-items: center !important;
    width: 100% !important;
    gap: 1rem !important;
  }

  .favorites, .types-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 480px) {
  header {
    padding: 5px;
    padding-inline: 1rem;
  }

  .menu-icon {
    height: 15px;
  }

  .pokemon-info {
    padding: 15px;
  }

  .view-pokemon-btn {
    padding: 8px 15px;
  }

  .evolution-section img {
    width: 40px;
  }

  .pokemon-cards {
    grid-template-columns: repeat(2, 1fr) !important;
    min-width: 100%;
  }

  .pokemon-card img {
    width: 60px;
  }

  .pokemon-card p {
    font-size: 14px;
  }

  .favorites, .types-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}